$primary: var(--primary, #e50914);
$secondary: var(--secondary, #101011);
$text-color: var(--text-color, #f2f2f2);
$background: var(--background-color, #030303);

.app {
  color: $text-color;
  min-height: 100vh;
  background-color: $background;
  display: grid;
  grid-template-areas:
    "screen"
    "footer";
  grid-template-rows: 1fr auto;
  .app-content {
    grid-area: "screen";
  }
  .app-footer {
    grid-area: "footer";
  }
  a {
    color: $primary;
  }
  footer {
    text-align: center;
    padding: 1rem 0;
  }
}